<!DOCTYPE html>
<html>
<head>
	<title>Books</title>
	{% load static %}
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/book_app/HomeCss.css' %}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	
</head>
<body>
    <div class="header">
	    <nav class="nav-color container">
			<a class="navbar-brand" href="/">
				<img src="{% static '/images/App_logo2.svg' %}" alt="App_logo">
			</a>
		</nav>
		
		<div class="container" id="hide">
			<h1 class="toper">
				Whatever the cost of our libraries, the price is cheap compared to that of an ignorant nation
			</h1>
			<form action="{% url 'new_search' %}" method="post">
		    	{% csrf_token %}
		        <div class="form-style form-group search_bar"">
				    <input type="text" name="search" placeholder="Search" class="form-control"
				     id="Search" aria-describedby="Search">
					    <div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="Search_type" 
							  id="inlineRadio1" value="title" checked>
							  <label class="form-check-label" for="inlineRadio1">Title</label>
						</div>
						<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="Search_type" 
							  id="inlineRadio3" value="author">
							  <label class="form-check-label" for="inlineRadio3">Author</label>
						</div>
					</div>
				    <button type="submit" class="search-button btn btn-secondary" id="search_bt">
				    	Submit
					</button>
	    	</form>

	    </div>    	
    </div>
	<section>
		<div class="container">
			<center class="load">
			   <div class="spinner-border" id="load"></div>
			   <h2>loading, please wait</h2>
			</center>

			<div id="hide_re">
				{% block content %}

				{% endblock content %}
			</div>
		</div>		
	</section>
    

	<script>
		$(document).ready(function(){
      		$(".load").hide();
   		});

		$(document).ready(function(){
		    $("#search_bt").click(function(){
		    	$("#hide_re").fadeOut("fast",function(){
		    		$(".load").show();
				});
		    });
		});
	</script>
</body>
</html>