{% extends 'book_app/home.html' %}

{% block content %}
{% load static %}


	<h2 class="search-title">{{ search | title }}</h2>
	<hr class="hr-line">
	{% if checks == '0' %}
		<marquee direction="right">
			<h3>
				No Result Found
			</h3>
		</marquee>
	{% elif checks == '-1' %}
		<marquee direction="right">
			<h3>
				Server Error, Sorry &#x1F614;
			</h3>
		</marquee>
	{% endif %}

	<div class="card-deck row row-cols-1 row-cols-md-2 row-cols-lg-3">
		<!-- for cade showing in  3 each row-->
		{% for book in for_front_data %}
			<div class="col mb-5" >
				  <div class="card-content card" >
						<div class="card-body">
							<h6 class="name card-title">
								{{ book.0 }}
							</h6>
							<p class="auther card-text">
								<i>By <br> {{ book.1 }}</i>
							</p>
							<p class="normal-text card-text">
								<b>Language</b> 
								{{ book.2 }}
							</p>
							<p class="normal-text card-text">
								<b>Year</b> 
								{{ book.3 }}
							</p>
						</div>
						<div class=" footer-card card-footer">
							<a href="{{ book.4 }}" target="_blank" class="stretched-link {{ book.8 }}" style="">
										<i class="fas fa-paper-plane"></i>
											({{ book.7 }})
							</a>
							<p class="card-text" style="">
								<b>{{ book.5 }}</b> 
							</p>
							
						</div>
				  </div>
			</div>
		{% endfor %}
	</div>
{% endblock%}