@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* Edite logo at "logomaker.thehoth.com/?project=35866114" */

:root{
	--background-color1: rgba(50,50,50,1);
	--background-color2: #DAA520;
	--background-color3: #696969;
	--background-color4: #56562F;
	--background-color5: #33331f;
	--background-color6: #36361A; 
	--font_size: 2.5rem;
	--font-color1: #fff;
	--font-color2: #f0f0f0;
	--font-color3: #F4F3CC;
	--font-size-link:2.5rem;

}

*{
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--background-color1);
	color: var(--font-color2);
}
.nav-color{
	font-family: 'Satisfy',cursive;
	font-size: 2rem;
}

.nav-color img{
	height: 2.5rem;
}

.form-style label{
	color:var(--font-color2);
}

.form-style #search_bt{
	color: red;
}

.toper{
	color: var(--font-color2);
	font-family: 'Piedra', cursive;
	font-size: var(--font_size);
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	/*font-family: "Times New Roman";*/
}

.header{
	padding-bottom: 2.5rem;
	background: linear-gradient( rgba(50,50,50,0.5), rgba(50,50,50,1)), url("../images/book1.jpg");
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-color: #000;
	position: relative;
	top:0;
	left: 0;
	margin-bottom: 3rem;
}

.search_bar{
	margin-top: 20px;
}

.search-button{
	background-color: var(--background-color4);
	color: #FFFFFF;
	border-color: #f0f0f0;
}

.search-button:hover, .search-button:focus, .search-button:active, .search-button.active, .open .dropdown-toggle.search-button {
background-color: #36361A;
color:#FFF;
border-color: #f0f0f0;
}
.spinner-border{
	height: 10em; 
	width:10em;
	flood-color: var(--background-color3)
}

.search-title{
	text-align: center;
	color: var(--font-color2);

}

.hr-line{
	background-color:  var(--font-color1);
}


.card-content{

	width: 18rem; 
	background-color: var(--background-color4); 
	height: 100%; 
	box-shadow: 3px 5px 9px 0px #000000; 
	margin-bottom: 10px;
	
}
.card-content:hover{
	--background-color4: #ADADAD; /*#36361A*/
	--font-color3: #000000;
	--background-color6: #E3E3E3;

}

.card-content .name{

	color: var(--font-color3);
	font-size: 1.2rem;
}

.card-content .auther{
	color: var(--font-color3); 
	text-align: right;
	margin: 0px;
	padding: 0px; 
	font-style: oblique; 
	font-size: 0.8rem;
}

.card-content .normal-text{
	color: var(--font-color3); 
	text-align: left; 
	margin: 0px;
	padding: 0px;
	margin-top: 5px; 
	font-size: 0.8rem;
	bottom: 0;
}

.footer-card{
	background-color: var(--background-color6);
	border-radius: 2%;
}

.footer-card a{
	color: var(--font-color3);
	float: left;
	text-decoration: none; 
	font-size: 0.8rem;
}
.footer-card a i{
	font-size: 1.6rem;
}

.footer-card p{
	color: var(--font-color3); 
	text-align: right;
	margin: 0px;
	padding: 0px;
}

